body {
margin: 0;
font-family: 'Times New Roman', Times, serif;
background-image: url(pexels-fotios-photos-1855214.jpg);
background-size: cover;
background-position: center;
color: white;
text-align: center;
padding: 20px;


}

div {
background-color: rgba(0, 0, 0, 0.5);
width: 700px;
margin: 0 auto;
padding: 30px;
border-radius: 8px;

}

h1 {
    color: rgb(222,184,135);
}

h2 {
    color: rgb(222,184,135);

}

a {
    font-size: 25px;
    color: rgb(222,184,135);
    text-decoration-line: none;
    padding-top: 20px;
}